<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Repository</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>

    <style>
       .wrapper{
          margin-left:20px;
          margin-right: 20px;
          visibility: hidden;
       }

       #tblMusic{
          width: 100%;
          font-size: 10pt;
       }
    </style>
</head>
<body>
   <div class="spinner-border text-success" role="status" style="margin-left:48%; margin-top:22%">
      <span class="sr-only"></span>
   </div>
   <div class="wrapper">
         <br/>
         <h3 class="display-5"> Browse My Music Repository </h3>
         <br/>
         <div class="row">
            <div class="col-sm-4"> 
               <select id="choose" class="form-control">
                  {% for row in singer %}
                     <option> {{row["main_singer"]}} </option>
                  {% endfor %}
               </select>
            </div>
            <div class="col-sm-2">
               <input type="button" class="btn btn-secondary" value="Reset" onclick="clearSearch()">
               <a href="/write" class="btn btn-success"> Input Data </a>
            </div>
         </div>
         <br/>

         <div class="row">
            <div class="col-sm-12">
               <table id="tblMusic" class="table table-striped table-bordered">
                  <thead>
                     <tr>
                        <td>Album</td>
                        <td>Song Title</td>
                        <td>Main Singer</td>
                        <td>Lyrics</td>
                        <td>Music</td>
                        <td>Publisher</td>
                        <td>Year</td>
                     </tr>
                  </thead>
                  <tbody>
                  {% for row in rows %}
                     <tr>
                        <td>{{row["album"]}}</td>
                        <td><a href="/update/{{row["id"]}}"> {{row["song_title"]}} </a> </td>
                        <td>{{row["main_singer"]}}</td>
                        <td>{{row["lyrics"]}}</td>
                        <td>{{row["music"]}}</td>
                        <td>{{row["publisher"]}}</td>
                        <td>{{row["year"]}}</td>
                     </tr>
                  {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
   </div>

   <script>
      $(document).ready(function() {
         dt = $('#tblMusic').DataTable();
         $('select#choose').on('change', function() {
            dt.search( this.value ).draw();
         });
      });

      var clearSearch = function(){
         dt = $('#tblMusic').DataTable();
         dt.search('').draw();
      }

      setTimeout(function(){
        $('.spinner-border').hide();
        $('.wrapper').css("visibility","visible")
      }, 1000);

   </script>

</body>
</html>